<div class="form-view">
  <p>{{$ctrl.errorMessage}}</p>
  <form novalidate class="form" name="homePurchase" ng-submit="$ctrl.processForm($ctrl.formValues)">
    <label>
      Current Home Value<br />
      <input
        type="number"
        name="currentHomeValue"
        ng-model="$ctrl.formValues.homeValue"
        ng-required="true"
        ng-pattern="$ctrl.patterns.currency"
      />
    </label>
    <br />
    <label>
      Loan Balance<br />
      <input
        type="number"
        name="loanBalance"
        ng-model="$ctrl.formValues.loanValue"
        ng-required="true"
        ng-pattern="$ctrl.patterns.currency"
      />
    </label>
    <br />
    <label>
      After Tax Income (Monthly)<br />
      <input
        type="number"
        name="monthlyAfterTaxIncome"
        ng-model="$ctrl.formValues.monthlyAfterTaxIncome"
        ng-required="true"
        ng-pattern="$ctrl.patterns.currency"
      />
    </label>
    <br />
    <label>
      Current Savings Balance<br />
      <input
        type="number"
        name="currentSavingsBalance"
        ng-model="$ctrl.formValues.savingsBalance"
        ng-required="true"
        ng-pattern="$ctrl.patterns.currency"
      />
    </label>
    <br />
    <label>
      Cost to Sell Current Home<br />
      <input
        type="number"
        name="sellingCosts"
        ng-model="$ctrl.formValues.sellingCosts"
        ng-required="true"
        ng-pattern="$ctrl.patterns.currency"
      />
    </label>
    <br />
    <label>
      Down Payment Desired (%)<br />
      <input
        type="number"
        name="downPaymentPercent"
        ng-model="$ctrl.formValues.downPaymentPercent"
        ng-required="true"
        ng-pattern="$ctrl.patterns.percent"
      />
    </label>
    <br />
    <label>
      Payment Desired (% of After Tax Income)<br />
      <input
        type="number"
        name="paymentPercentOfIncome"
        ng-model="$ctrl.formValues.paymentPercentOfIncome"
        ng-required="true"
        ng-pattern="$ctrl.patterns.percent"
      />
    </label>
    <br />
    <label>
      Loan Term Desired<br />
      <select name="loanTerm" ng-model="$ctrl.formValues.loanTerm" ng-required="true">
        <option value="30">30 year fixed</option>
        <option value="20">20 year fixed</option>
        <option value="15">15 year fixed</option>
        <option value="10">10 year fixed</option>
      </select>
    </label>
    <br />
    <button class="submit" type="submit" ng-disabled="homePurchase.$invalid">Submit</button>
  </form>
</div>
