<div class="form-view">
  <form class="form">
    <label class="label">
      <span class="label-text">Current Home Value</span>
      <input type="number" name="currentHomeValue"/>
    </label>
    <label class="label">
      <span class="label-text">Loan Balance</span>
      <input type="number" name="loanBalance"/>
    </label>
    <label class="label">
      <span class="label-text">After Tax Income</span>
      <input type="number" name="afterTaxIncome"/>
    </label>
    <label class="label">
      <span class="label-text">Current Savings Balance</span>
      <input type="number" name="currentSavingsBalance"/>
    </label>
    <label class="label">
      <span class="label-text">Cost to Sell Current Home</span>
      <input type="number" name="sellingCosts"/>
    </label>
    <label class="label">
      <span class="label-text">Down Payment Desired (%)</span>
      <input type="number" name="downPaymentPercent"/>
    </label>
    <label class="label">
      <span class="label-text">Payment Desired (% of After Tax Income)</span>
      <input type="number" name="paymentPercentOfIncome"/>
    </label>
    <label class="label">
      <span class="label-text">Loan Term Desired</span>
      <input type="number" name="loanTerm"/>
    </label>
  </form>
</div>
